{
  "extends": [
    "prettier",
    "prettier/react",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/display-name": 0,
  },
  "plugins": [
    "babel",
    "react"
  ],
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "classes": true,
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "modules": true,
      "destructuring": true,
      "spread": true,
      "legacyDecorators": true
    }
  }
}
